<h1>Pokemons</h1>


<h4>tous les pokemons</h4>


<ul>
  <% @pokemons.each_with_index do |pokemon, i| %>
    <li id="pokemon">
      <%= i + 1 %> - <%= pokemon.name %> - points : <%= pokemon.ranking %> - (<%= link_to "fiche pokemon", pokemon_path(pokemon.id), method: :get %>)
    </li>
  <% end %>
</ul>

<h$>les pokemons battle</h4>

<ul>
  <% @pokemons_to_rate.each do |pokemon| %>
    <li id="pokemon">
      <%= link_to pokemon_path(pokemon), method: :put, remote: true  do %>
      <%= pokemon.name %>
      <% end %>
    </li>
  <% end %>
</ul>

