
<div class="container">
  <div class="row mt-5">
      <div id = "paddinger" >
        <%= link_to root_path do %>
          <div class = "back-to-home shadow p-2 pl-4 pr-4 ">Back to home</div>
        <% end %>
      </div>
  </div>
    <div class="row justify-content-center ptb-3">
        <div class="m-3-lg col-12 col-lg-4 p-3 " id="" >
          <div class = "rounded shadow-lg text-center" id = "border-<%= if @pokemon.types.include?(",") then @pokemon.types.split(",").first else @pokemon.types end %>" >
            <%= cl_image_tag @pokemon.photos[1].key, height: 350, width: 350, class: "p-2 img-responsive"%>
          </div>

        </div>

        <div class="m-3-lg col-12 col-lg-4 p-3 " id="" >

          <div class = "rounded shadow-lg" id = "border-<%= if @pokemon.types.include?(",") then @pokemon.types.split(",").first else @pokemon.types end %>" >
            <div class="p-2 pl-3 pokemon-info" style="width: 350px; height: 350px">

              <div>
                 <h2><span class="badge badge-secondary">Pokemon Infos</span></h2>
              </div>

              <div class = "pt-3" >
                Name : <span id = "<%= @pokemon.types.split(",").first %>"> <%= cl_image_tag @pokemon.photos[0].key, height: 30, width: 30%><%= @pokemon.name.capitalize %></span>
              </div>

              <div class = "pt-3">
                Points : <span id="pokemon-points-container" data-pokemon-id="<%= @pokemon.id %>" ><%= render "pokemons/pokemon_points", pokemon: @pokemon %></span>
              </div>

              <div class = "pt-3">
                Types : <% @pokemon.types.split(",").each do |type|%> <span class= "badge-type badge-type-<%=type%>" ><%= type.capitalize %> </span> <% end %>
              </div>
              <div class = "pt-3">
                Height : <%= @pokemon.height.fdiv(10) %> cm
              </div>
              <div class = "pt-3">
                Weight : <%= @pokemon.weight %> Kg
              </div>
            </div>

          </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="m-3-lg col-12 col-lg-4 p-3 " id="" >

          <div class = "text-center" style = "width: 350px; height: 350px" >
            <canvas id= "radar-container" data-chart = "<%=@pokemon_stats%>" data-color ="<%= if @pokemon.types.include?(",") then @pokemon.types.split(",").first else @pokemon.types end %>" width="350" height="350"></canvas>
          </div>

          <div class = "">
          </div>

        </div>

        <div class="m-3-lg col-12 col-lg-4 p-3 " id="" >

          <div class = "rounded shadow-lg p-2" id = "border-<%=@pokemon.types.split(",").first%>" style="width: 350px; height: 350px">
            <h2><span class="badge badge-secondary">Pokemon Stats</span></h2>
          </div>

        </div>
    </div>
    <div class="row justify-content-center m-3 ">
      <%= link_to pokemon_path(@pokemon), method: :put, remote: true  do %>
        <div class = "vote-pokemon m-5 p-3 pl-5 pr-5 shadow badge-type-<%=@pokemon.types.split(",").first%>">Vote for <%= cl_image_tag @pokemon.photos[0].key, height: 30, width: 30%> </div>
        <% end %>
    </div>
</div>
